<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>
 
    <div ng-app="CalculatorApp" ng-controller="CalculatorController">
    <p><input type="number" ng-model="a"></p>
    <p><input type="number" ng-model="b"></p>
    <p><select ng-model="operator">
            <option>+</option>
            <option>*</option>
            <option>-</option>
            <option>/</option>
        </select></p>
    <p>{{ result() }}</p>
    </div>
    <script>
    var app2 = angular.module('CalculatorApp', [])
    app2.controller('CalculatorController', function($scope) {
        $scope.result = function() {
            if ($scope.operator == '+') {
                return $scope.a + $scope.b;
            }
            if ($scope.operator == '-') {
                return $scope.a - $scope.b;
            }
            if ($scope.operator == '*') {
                return $scope.a * $scope.b;
            }
            if ($scope.operator == '/') {
                return $scope.a / $scope.b;
            }
        };
    });
    </script>

</body>
</html>